{% extends "base.html" %} {% load static %} {% block content %}
    
<h3 class="album_name">{{album_name}}</h3>

{% if images %}
<div class="fotorama" data-nav="thumbs" data-autoplay="3000" data-fit="contain" 
                      data-transition="crossfade" data-navposition="top" 
                      data-keyboard="true" data-loop="true" data-allowfullscreen="true" 
                      data-trackpad="true" data-height="500px" data-width="100%" 
                      data-hash="true" data-click="false">
                      <!-- data-stopautoplayontouch="false" -->
    {% for image in images %}
    <a href="{{image.image.url}}" data-caption="<span style='font-weight: bold'>{{image.name}}</span><br>{{image.details}}<br>{{image.size}}<br>{%if image.disp %}<span style='color: green'>Disponible{%else%}<span style='color: red'>No disponible{%endif%}</span>">
    {% endfor %}
</div>
{% endif %}

<div style="text-align: center; margin-top: 30px;" >
    <a href="{% url 'gallery:index' %}">&larr;&nbsp;&nbsp;Volver a Temáticas</a>    
</div>

{% endblock content %}