<!doctype html>
<html lang="en-US">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Barandalla</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
</head>

<body>
    <!-- Main div -->
    <div class="wrapper">
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'gallery:index' %}">MIGUEL ÁNGEL BARANDALLA INZA</a>
                <p class="navbar-sub">Pintura figurativa</p>
            </div>
            <ul>
                <li class="hlink">[ <a href="{% url 'gallery:index' %}">Temáticas</a> ]</li>
                <li class="hlink">[ <a href="{% url 'gallery:contact' %}">Contacto</a> ]</li>
            </ul>              
        </nav>
        {% block content %}{% endblock content %}
    </div>
    <footer>
        [ <a href="{% url 'admin:index' %}">Administración</a> ]<br>
        &copy; Miguel Ángel Barandalla Inza {% now "Y" %}
    </footer>
</body>

</html>