{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Import jQuery and PhotoSwipe Scripts -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>

<div id="gallery" class="containerw3">
{% for image in images %}
<div class="brick {{image.tag}}">
    <a class="brick-link" id="brick-link{{forloop.counter}}" href="{{image.image.url}}" data-caption="{{image.name}}" data-width="{{image.image.width}}" data-height="{{image.image.height}}">
        <img class="brick-img" id="brick-img{{forloop.counter}}" src="{{image.image.url}}" alt="{{image.name}}" title="{{image.name}}">
    </a>
</div>
{% endfor %}

<!-- Photoswipe compulsory div -->
{% include "photoswipe_div.html" %}

<!-- Fill and initialize PhotoSwipe gallery -->
<script src="{% static 'photoswipe_init.js' %}"></script>

<!-- Filter buttons script -->
<script>
    function resize_grid(nbricks) {
        //append to css a lot of brick styles
        var styles = "";
        var h = $(".brick").height();
        console.log(h);
        for (var i=1; i<=nbricks; i++) { 
            var ogw = $("#brick-link"+i).attr('data-width');
            var ogh = $("#brick-link"+i).attr('data-height');
            var w = h*ogw/ogh;
            console.log(i+", "+h+", "+ogh+", "+w+", "+ogw);
            styles += ".masonry-with-columns div:nth-child("+i+")\{width:"+w+"px;} ";
            console.log(styles);
        }
        var styleSheet = document.createElement("style");
        styleSheet.type = "text/css";
        styleSheet.innerText = styles;
        console.log(styleSheet);
        document.head.appendChild(styleSheet);
    }
    $(window).on('load', function() {
        //resize_grid($('.brick').length);
        $('.filter-button').click(function () {
            $('.filter-button-group .is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
            var selector = $(this).attr('data-filter');
            $('.brick').hide();
            //resize_grid($(selector).length);
            $(selector).show();
        });
    });
</script>
{% endblock content %}